
@model List<User>


<html>
<head>
    <title></title>
</head>
<body>
    <h1>Index view</h1>
    <table class="table table-Primary">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Gender</td>
                 <td>Update</td>
                 <td>Delete</td>
            </tr>
        </thead>

        <tbody>             
            @foreach (var user in Model)
            {
                <tr>
                   
                    <td>1</td>
                    <td>@user.Name</td>
                    <td>@user.Gender</td>
                    <td><a href="Home/Update/@user.Id">Update</a></td>
                    <td><a href="Home/Delete/@user.Id">Delete</a></td>

                </tr>
            }

        </tbody>

    </table>

   <a href="Home/Create/" class="btn btn-primary">Create</a>
</body>
</html>

