
@model User
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Update new User</h1>

        <form asp-controller="Home" asp-action="Update" method="post">
        Name:
        <input type="text" asp-for="Name" />
        Gender:
        <input type="text" asp-for="Gender" />
       
        <input type="submit" value="Update" />
        </form>
    </body>

</html>